[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
docformatter = "*"
black = "*"
mypy = "*"
pytest-cov = "*"
flake8 = "*"
pytest-qt = "*"
auto-py-to-exe = "*"

[requires]
python_version = "3.11"
